---
import MenuIcon from '@assets/images/icons/menu.svg';
---
<!-- <header class="flex justify-between items-center bg-amber-500">
  <div class="grid grid-cols-2">
    <div class="flex items-center">
      <h1 class="text-2xl font-bold pl-2">
        Vidify
      </h1>
    </div>
    <nav>
    <ul>
      <li><a href="/"><img src={MenuIcon.src} alt="Menu" /></a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </nav>
  </div>
</header> -->

<header >
  <nav class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8" aria-label="Global">
    <div class="flex lg:flex-1">
      <a href="#" class="-m-1.5 p-1.5">
        <span class="sr-only">Vidify</span>
        <img class="h-8 w-auto" src="https://tailwindcss.com/plus-assets/img/logos/mark.svg?color=indigo&shade=600" alt="Vidify">
      </a>
    </div>
    <div class="lg:flex lg:flex-1 lg:justify-end">
      <button type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
        <span class="sr-only">Open main menu</span>
        <img src={MenuIcon.src} alt="Menu" class="size-6"/>
        
      </button>
    </div>
  </nav>
</header>

